*.pdf
*.ml~
*.gz
pa3/rlwrap-0.36/
*.zip
*.pyc
*.py~
pa5/gup
pa5/gup_out
pa5/news.txt
pa5/out
pa5/out2
pa5/passwd
pa5/passwd_out
pa5/passwd2
pa5/passwd2~
pa5/passwd-out.txt
pa5/pwg.py
pa5/words
pa6/.metadata
*.out
*.out~
pa6c/.metadata/
pa7/.metadata/
pa7/output/
pa7/alice
pa7/dracula
pa7/gulliver
pa7/huckleberry
pa7/pride
pa7/scarlet
pa7/sherlock
*.pl~
sample-final-questions.txt